# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

TRELLO_ACCOUNT_KEY=trello account key
TRELLO_SECRET_KEY=trello secret key

BOARD_ID=board id

TODO_LIST_ID=todo list id
IN_PROGRESS_LIST_ID=doing list id
DONE_LIST_ID=done list id