{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app that was deployed on Heroku.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do Items</h2>

      <ul class="list-group mb-4" id="todoItems">
        {% for item in view_model.todo_items %}
          <li class="todoItem">{{ item.name }} -- {{ item.desc }}</li>
          
          <form id="startItem{{item.id}}" method="POST" action="/start/{{item.id}}">
            <input type="submit" value="Start" />
          </form>
        
          <form id="completeItem{{item.id}}" method="POST" action="/complete/{{item.id}}">
            <input type="submit" value="Complete" />
          </form>

          <a id="delete{{item.id}}" onclick="deleteItem('{{ item.id }}')" href="#">Delete</a>
        {% endfor %}
      </ul>


      <h2>Doing Items</h2>

      <ul class="list-group mb-4" id="doingItems">
        {% for item in view_model.doing_items %}
          <li class="doingItem">{{ item.name }} -- {{ item.desc }}</li>
          
          <form id="resetItem{{item.id}}" method="POST" action="/reset/{{item.id}}">
            <input type="submit" value="Move back to todo" />
          </form>

          <form id="completeItem{{item.id}}" method="POST" action="/complete/{{item.id}}">
            <input type="submit" value="Complete" />
          </form>

          <a id="delete{{item.id}}" onclick="deleteItem('{{ item.id }}')" href="#">Delete</a>
        {% endfor %}
      </ul>



      <h2>Done Items</h2>

      <ul class="list-group mb-4" id="doneItems">
        {% for item in view_model.done_items %}
          <li class="doneItem">{{ item.name }} -- {{ item.desc }}</li>

          <form id="resetItem{{item.id}}" method="POST" action="/reset/{{item.id}}">
            <input type="submit" value="Move back to todo" />
          </form>

          <a id="delete{{item.id}}" onclick="deleteItem('{{ item.id }}')" href="#">Delete</a>
        {% endfor %}
      </ul>



      <form id="newItem" method="POST" action="/addItem" id="createItem">
        Add item: <input type="text" id="name" name="name"/> <br/>
        Description: <textarea id="description" name="description" rows="4" cols="50">
        </textarea> <br/>
        <input id="submitItem" type="submit">
      </form>
    </div>
  </div>
{% endblock %}