{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <form id="completeItem{{item.id}}" method="POST" action="/complete/{{item.id}}">
          <li>{{ item.title }} -- {{ item.status }}</li><input type="submit" value="Complete Item" />
        </form>
        {% endfor %}
      </ul>

      <form id="newItem" method="POST" action="/addItem">
        <input type="text" id="name" name="name"/>
        <input type="submit">
      </form>
    </div>
  </div>
{% endblock %}