{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>

      <ul class="list-group mb-4">
        {% for item in view_model.items %}
          <li>{{ item.name }} -- {{ item.desc }} -- {{ item.listName }}</li>
          
          {% if item.listName == 'To Do' %}
            <form id="completeItem{{item.id}}" method="POST" action="/start/{{item.id}}">
              <input type="submit" value="Start" />
            </form>
          {% else %}
            <form id="completeItem{{item.id}}" method="POST" action="/reset/{{item.id}}">
              <input type="submit" value="Move back to todo" />
            </form>
          {% endif %}

          {% if item.listName != 'Done' %}
            <form id="completeItem{{item.id}}" method="POST" action="/complete/{{item.id}}">
              <input type="submit" value="Complete" />
            </form>
          {% endif %}


          <a onclick="deleteItem('{{ item.id }}')" href="#">Delete</a>
        {% endfor %}
      </ul>

      <form id="newItem" method="POST" action="/addItem">
        Add item: <input type="text" id="name" name="name"/> <br/>
        Description: <textarea id="description" name="description" rows="4" cols="50">
        </textarea> <br/>
        <input type="submit">
      </form>
    </div>
  </div>
{% endblock %}